* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    overflow: hidden;
}

body{  
    background: #000;
    font-family: 'Arial', sans-serif;    
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
}

.divcontainer{  
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    top: 5px;
}

.videobkgrd{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgbkgrd{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.labelformusuariosnobgdate { 
    position: relative;
    top: 23px;
    left: 13px;
    background-color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
    z-index: 5;
    padding: 0 8px 0px 5px;
    cursor: text;
    margin: 0;
}

a {
    color: yellow;
}

footer {
    position: fixed;
    border-width: 0px;
    border-bottom-style:groove;
    bottom: -9px;
    width: 100%;
    background-color:#353535db;
    color: white;
    text-align: center;
    text-shadow: 1px 1px #e6bebe;
    font-size: calc(0.5em + 0.5vw) ;  
    z-index: 1058;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.footer-link {
    color: #e66262 !important;
}

.closespan{   
    color: white;
    font-size: 30px; 
}

.logoslabs{
    width: 90px;
    height: 29px;
    cursor: pointer;
}

.footer-text__source{
    margin: 10px;
}

.footer-text{
    text-shadow: 0px 0px #020202;
}

a:focus, a:hover {
    color: yellow;
    text-decoration: none;
}

.inputboxatualuser{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    top: -10px;
}

.inputboxatualusercamp{
    display: flex;
    margin-bottom: -15px;
    flex-direction: column;    
}

.labelformusuariosnobg {
    position: relative;
    top: 10px;
    background-color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
    z-index: 5;
    padding: 0 8px 0px 5px;
    cursor: text;
    margin: 0;
    left: 10px;
}

.campo-formnm {
    display: inline-block;
    height: 40px;
    width: 200px;
    padding: 8px 6px 4px;
    font-size: 15px;
    line-height: 1.42857143;
    color: black;
    background-color: transparent !important;
    background-image: none;
    border: 1px solid #8585856b;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding-left: 30px;
}

.campo-formnm2 {
    display: inline-block;
    height: 40px;
    width: 98px;
    text-align-last: center;
    font-size: 15px;
    line-height: 1.42857143;
    color: black;
    background-color: transparent !important;
    background-image: none;
    border: 1px solid #8585856b;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-icon {
    position: relative;
    top: 35px;
    transform: translateY(-50%);
    left: 7px;
    pointer-events: none;
    color: var(--clr-switch-track);
}

h1{
    text-transform: uppercase;
    font-size: 3.6rem;
    color: #ffffff;
    font-weight: 900;
    z-index: 1;
}

p {
    margin: 0 !important;
}

.carreganome{
    color: white;
}

.title {   
    padding: 8px;
    color: yellow;
    text-align: -webkit-center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0);
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.85); /* fundo escuro semi-transparente */
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
}

.exibirdata{
    /*width: 610px;*/
}


.opacity0{
    opacity: 0;
}

video {  
    width: 100%;
    height: auto;
}

.clock{
    position: relative;
    top: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.alert-frame {
    background: #fff;
    min-height: 320px;
    width: 730px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: open-frame 0.3s linear;
    z-index: 999999;
}

.alert-close {
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
    line-height: 30px;
    transition: color 0.5s;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
}

.alert-img {
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.alert-header {
    display: flex;
    flex-direction: row;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.clock div {
    position: relative;
    background: #ffffffe8;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 215px;
    font-size: 80px;
    letter-spacing: 2px;
    border-radius: 4px;
    box-shadow: 0px 10px 15px 5px rgb(0 0 0 / 56%);
    border: 1px solid #f5f5f5;
    color: #111;
    font-family:'Orbitron', sans-serif;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock .colon{
    width: 25px;
    background: transparent;
    border: none;
    box-shadow: none;
    display: none;
}

.divbuttoncalendar {
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
}

.iconcalendar {
    color: white;
    font-size: 32px;  
}

.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.btn{ 
    width: 100px;
    margin-bottom: 1px;
    background-color: #ad4922;
    color: white;
    padding: 5px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 1px 2.5px 5px #000000;
}

.confirmDate{    
    background-color: #ad4922;  
}

.save{    
    background-color: #29931c;  
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);    
}

.modal-body {
    display: grid;
    gap: 10px;
    align-items: stretch;
    height: 200px;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}

.btn:hover, .btn:active, .btn:focus{ 
    border: none;
    box-shadow: none;
}

.modal-header .close {
    margin-top: 0px !important;
    margin-right: 10px !important;
}

.modal-header {
    position: relative;
    text-align: center;
    background-color: #653818;
    color: white;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 0;
}

.close{
    opacity: 1 !important;
}

th {
    color: #FFFFFF !important;
    background-color: #232a89;
    border-color: #233b89;
}

.inputboxatualuserdate {
    display: flex;
    flex-direction: column;
    position: relative; 
    margin-bottom: -15px;
    top: -15px;
}

.modal-content {
   background-color: #fefefe;
    margin: 15% 10px !important;
    border-radius: 10px;
    border: 1px solid #888;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    max-width: 800px;
    justify-self: center;
}

.divcampclock {
    display: flex;
    gap: 5px;
    margin-top: -9px;
}

.clock div:before{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    line-height: 21px;
    font-size: 14px;
    z-index: 1;
    color: #000;
    letter-spacing: 1px;
    background: #fff;
}
.clock div.days:before{
    content: "Dias";
}

.clock div.hours:before{
    content: "Horas";
}

.clock div.minutes:before{
    content: "Minutos";
}

.clock div.seconds:before{
    content: "Segundos";
}

.clock div div{
    width: 200px;
    height: 200px;   
    transition: all 800ms ease-in-out;
}

.clock div.animate{
    animation: bounce 800ms ease-in-out;
}

@keyframes bounce{
    0%, 100%{
        margin-top: 0px;
    }
    50%{
        margin-top: -20px;
    }
}

.dadoscontagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sucesso{
    display: none;
}

.alert{
    animation: alert 1s linear infinite alternate;
}

@keyframes alert{
    0%{
        background: #112;
    }
    100%{
        background: #a11;
    }
}

.tv-effect {
    width: 100%;
    height: 100%;
    background: url('https://via.placeholder.com/800') no-repeat center center;
    background-size: cover;
    animation: tv-off 4s forwards;
}

@keyframes tv-off {
    0% {
        transform: scale(1, 1);
        opacity: 1;
    }
    50% {
        transform: scale(1, 0.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1, 0);
        opacity: 0;
        background: #000;
    }
}

.divnomes {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 450px;
}

.carregacompanheiro {
    color: white;
}

@media screen and (max-width: 768px) {
    .dadoscontagem {
        display: flex;
        flex-direction: column;
        align-items: center;
        scale: 0.5;
        position: relative;
        top: -290px;
        gap: 10px;

    }
    .clock {
        position: relative;
        top: -50px;
        display: flex;
        align-items: center;
        gap: 25px;
        flex-direction: column;
        scale: 0.9;
    }
    .modal-content {
        background-color: #fefefe;
        margin: 15% 10px !important;
        border-radius: 10px;
        border: 1px solid #888;
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        justify-self: center;
        scale: 0.7;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.4);
    }
    h1 {
        text-transform: uppercase;
        font-size: 30px;
        color: #ffffff;
        font-weight: 900;
        z-index: 1;
    }
}